[project]
name = "searchtool-gtk"
version = "2.2.1"
description = "A generic GTK search tool and launcher"
license = "Unlicense"
readme = "README.md"
requires-python = ">=3.13,<4.0"
authors = [
  { name = "Ianis Vasilev", email = "ianis@ivasilev.net" }
]

dependencies = [
  "pygobject (>=3.54.5)",
  "pyxdg (>=0.28)",
  "pydantic (>=2.12.5)",
  "pyicu (>=2.16.1)",
]

[project.urls]
Repository = "https://github.com/v--/searchtool-gtk.git"

[project.scripts]
searchtool-gtk-server = "searchtool_gtk:entry_point"
searchtool-gtk-dmenu = "searchtool_gtk:dmenu_client"
searchtool-gtk-activate = "searchtool_gtk:basic_client"

[dependency-groups]
dev = [
  "pygobject-stubs (>=2.16.0)",
  "mypy (>=1.19.1)",
  "ruff (>=0.15.2)",
]

[build-system]
requires = ["uv_build (>=0.10.5, <0.11.0)"]
build-backend = "uv_build"

[tool.ruff]
line-length = 120

[tool.ruff.lint]
extend-select = ["UP", "I", "ANN"]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401"]

[tool.mypy]
packages = ["searchtool_gtk"]

[[tool.mypy.overrides]]
module = [
  "gi.*",
  "icu.*",
  "xdg.*"
]
ignore_missing_imports = true
